extends base.pug


block scripts 
    script(src='../static/index.js')
    script(src="../app.js") 

block style 
    style
        include ../static/style.css
        include ../static/styleContact.css
block content
    div.cont
        h1 The form has been submitted
        each element in dbs
            h3=element.name
                p=element.desc
    div#responded
        |

